<!DOCTYPE html>
<html>
    <body>
        <a href="/">Home</a>
        <% if (model) { %>
            <h2>Car Model: <%= model %></h2>
          <% } else { %>
            <h2>Please enter a model</h2>
          <% } %>

    </body>
</html>