<!DOCTYPE html>
<html>
    <body>
        <h1> Home Page </h1>

        <h2> Cars </h2>
        <% cars.forEach(function(car) { %>
            <li> <%= car.model %> </li>
          <% }); %>
    
    
    </body>
</html>