<!DOCTYPE html>
<html>
<head>
    <title>React App Demo</title>

    <script src="https://unpkg.com/react@17/umd/react.development.js"></script>
    <script src="https://unpkg.com/react-dom@17/umd/react-dom.development.js"></script>

    <!-- Don't use this in production: -->
    <script src="https://unpkg.com/@babel/standalone/babel.min.js"></script>
</head>

<body>
    <h2> Home Page </h2>
<div id="root"></div>
<script type="text/babel">
    // create variable with unescaped JS data from server
  let cars = <%- items %>;
  console.log(cars)

  const Cars = (props) => {
        console.log(props)
        const listItems = props.cars.map(item =>  
        <li key={item._id} onClick={props.clickHandler}>{item.model}</li>
        );
        return <ul>{listItems}</ul>
       
    }
  
  //this is the parent component 
   const CarApp = () => {

    const [items, setItems] = React.useState(cars);
    const [selectedItem, setSelectedItems] = React.useState();
     // click handler event
  const itemClicked = (e) => {
      console.log('itemClicked')
        console.log(e.targe.innertext);
        let found = cars.find((item) => {return item.model == e.target.innertext })
        setSelectedItems(found);
       } 

    
    return (
        <div> 
            <h2>Home Page</h2>
            <Cars cars={cars} clickHandler={itemClicked} />
        </div>
    );
}
  


    const container = document.getElementById('root');
    const root = ReactDOM.createRoot(container);
    root.render( <CarApp />);
</script>
</body>
</html>




